//FORMULARIO
.form {
    .form__content {
        display: flex;
        flex-direction: row;

        .form__dni {
            width: 40%;
        }

        .form__doc {
            width: 60%;
        }

        select,
        input {
            width: 100%;
        }
    }

    .form__celular {
        width: 100%;

        input {
            width: 100%;
        }
    }

    .form-group {
        margin-bottom: 16px;

        input,
        select {
            padding: 8px 16px;
            border: 1px solid #5E6488;
            border-radius: 8px;
            font-size: 16px;
            font-weight: 400;
        }
    }

    .form-check-input {
        &:checked {
            background-color: #0A051E;
            border-color: #0A051E;
        }
    }

    .form-check-label {
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.1px;
        text-align: left;
        margin-left: 5px;
        position: relative;
        top: -2px;
    }

    .terms {
        font-size: 0.9rem;
        margin: 16px 0;

        a {
            color: #000;
            text-decoration: underline;
            font-weight: bold;
        }
    }

    button {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.4px;
        font-weight: 700;
        color: #fff;
        background-color: #03050F;
        border: none;
        cursor: pointer;
        width: 195px;
        height: 64px;
        padding: 20px 40px;
        gap: 8px;
        border-radius: 40px;

        &:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }

        &:not(:disabled):hover {
            background-color: #333;
        }
    }
}

//RESPONSIVE
@media (max-width:767px) {
    .form {
        button {
            width: 100%;
        }
    }

}