.swiper.card__planswipper {
    padding: 30px 1rem;
    padding-bottom: 60px;

    .swiper-button-prev {
        position: absolute;
        bottom: 0;
        top: inherit;
        left: 40%;
        transform: translateX(-50%);
        border: 2px solid #4F4FFF;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        z-index: 20;

        &::after {
            font-size: 14px;
            font-weight: 700;
            color: #4F4FFF;
        }
    }

    .swiper-button-next {
        position: absolute;
        bottom: 0;
        top: inherit;
        left: 60%;
        transform: translateX(-50%);
        border: 2px solid #4F4FFF;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        z-index: 20;

        &::after {
            font-size: 14px;
            font-weight: 700;
            color: #4F4FFF;
        }
    }

    .card {
        &.card__planslist {
            box-shadow: 0px 1px 32px 0px #AEACF359;
            border: 3px solid transparent;
            border-radius: 24px;

            .card__plan {
                padding: 1rem 1rem;

                .card__header {
                    display: flex;
                    justify-content: space-between;
                    align-items: start;
                    min-height: 120px;

                    .card__type {
                        h3 {
                            font-size: 24px;
                            font-weight: 900;
                            line-height: 32px;
                            color: #141938;
                        }

                        p {
                            font-size: 12px;
                            margin: 0;
                            font-weight: 900;
                            line-height: 16px;
                            color: #7981B2;
                        }

                        strong {
                            color: #141938;
                            font-size: 20px;
                            font-weight: 900;
                            line-height: 28px;
                        }
                    }
                }

                hr {
                    margin: 1rem 0;
                }

                ul {
                    min-height: 300px;
                    padding-left: 2rem;

                    li {
                        font-weight: 400;
                        line-height: 28px;
                        margin-bottom: 25px;
                    }
                }

                .card__plan__button {
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 224px;
                    padding: 14px 32px;
                    border-radius: 32px;
                    background: #FF1C44;
                    font-family: Lato;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 20px;
                    letter-spacing: 0.4px;
                    text-align: center;
                }
            }
        }
    }
}