$fontSecondary : Lato;

$colorSecondary : #3636ac;
$colorStepBar : #7981B2;
$colorTexts : #141938;

.setpbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EDEFFC;
    padding: 10px;
}

.setpbar__desktop {
    @media (max-width: 475px) {
        display: none;
    }

    .step {
        display: flex;
        align-items: center;
        font-size: 1rem;
        color: $colorStepBar;

        .step-number {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            border: 1px solid $colorStepBar;
            background-color: transparent;
            color: $colorStepBar;
            margin-right: 8px;
        }

        .step-label {
            font-family: $fontSecondary;
            font-weight: 500;
        }

        &.active {
            color: $colorTexts;

            .step-number {
                background-color: #4F4FFF;
                color: #fff;
            }
        }
    }

    .separator {
        margin: 0 16px;
        font-size: 1.2rem;
        color: $colorStepBar;
    }

}

//RESPONSIVE

.stepbar__responsive {
    display: none;

    .step-info {
        font-family: $fontSecondary;
        font-weight: 900;
        color: $colorTexts;
        letter-spacing: 0.8px;
        margin: 0 20px;
    }

    .progress-bar {
        flex: 1;
        height: 6px;
        background-color: #D7DBF5;
        border-radius: 4px;
        overflow: hidden;

        .progress {
            height: 100%;
            background-color: #4F4FFF;
            ;
            border-radius: 4px;
        }
    }

    @media (max-width: 475px) {
        display: flex;
    }
}